// src/components/BottomSheet.module.scss
.sheet {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--background-color);
  transition: height 0.2s ease-out; /* 기본 애니메이션 */
  box-shadow: 0 -4px 12px rgb(0 0 0 / 30%);
  cursor: grab;
  border-top-left-radius: var(--border-radius-medium);
  border-top-right-radius: var(--border-radius-medium);

  .sheet-header {
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    .handle {
      width: 40px;
      height: 4px;
      background-color: #ccc;
      border-radius: var(--border-radius-xxs);
    }
  }

  .sheet-content {
    height: calc(100% - 24px);
    padding: var(--spacing-small) var(--spacing-medium);
  }
}
