// 텍스트 생략 처리용 믹스인
@mixin text-ellipsis {
  overflow: hidden; // 넘치는 부분 숨기기
  text-overflow: ellipsis; // 넘치는 부분을 ...로 표시
  white-space: nowrap; // 텍스트를 한 줄로 유지
}

@mixin scrollbar {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color); /* 어두운 회색 */
    transition: background-color 0.2s; /* 색상 변화 애니메이션 */
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color); /* 중간 회색 */
  }

  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color); /* 배경 색상과 유사한 어두운 회색 */
  }

  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color); /* Firefox: Thumb 색상과 Track 색상 */
  scrollbar-width: thin; /* Firefox: 스크롤바 너비 */
}
