// 폰트 변수
$font-size-tiny: 0.75rem; // 12px
$font-size-small: 0.875rem; // 14px
$font-size-base: 1rem; // 16px
$font-size-large: 1.5rem; // 24px
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-family: 'Noto Sans KR', 'Arial', sans-serif;

// 간격 변수
$spacing-small: 0.5rem; // 8px
$spacing-medium: 1rem; // 16px
$spacing-large: 2rem; // 32px

// 상수
$border-radius: 8px;
$box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

// 배경 및 텍스트 색상
$background-color-light: #f5f5f5;
$background-color-dark: #1e1e1e;
$text-color-light: #333;
$text-color-dark: #e0e0e0;
$point-color-light: #007bff;
$point-color-dark: #61dafb;

// 버튼 색상
// Light mode buttons
$button-background-color-light: $point-color-light;
$button-text-color-light: #fff;
$button-hover-background-color-light: #0056b3; // 호버 시 색상

$button-secondary-background-color-light: #e0e0e0;
$button-secondary-text-color-light: #333;
$button-secondary-hover-background-color-light: #ccc;

// Dark mode buttons
$button-background-color-dark: $point-color-dark;
$button-text-color-dark: #1e1e1e;
$button-hover-background-color-dark: #4da6d3; // 호버 시 색상

$button-secondary-background-color-dark: #333;
$button-secondary-text-color-dark: #e0e0e0;
$button-secondary-hover-background-color-dark: #4a4a4a;

// 버튼 테두리 반경과 패딩
$button-border-radius: 4px;
$button-padding: $spacing-medium;

// 검색 바 색상
// 라이트 모드
$search-bar-background-color-light: #e0e0e0;
$search-bar-border-color-light: #6c757d;
$search-bar-text-color-light: $text-color-light;
$search-bar-placeholder-color-light: #6c757d;

// 다크 모드
$search-bar-background-color-dark: #2c2c2c;
$search-bar-border-color-dark: #333;
$search-bar-text-color-dark: $text-color-dark;
$search-bar-placeholder-color-dark: #e0e0e0;

// 카드
$card-background-light: #fff;
$card-border-light: #e0e0e0;
$card-shadow-light: rgb(0 0 0 / 10%);
$card-background-dark: #2c2c2c;
$card-border-dark: #333;
$card-shadow-dark: rgb(0 0 0 / 50%);
$card-title-color-light: #333;
$card-text-color-light: #6c757d;
$card-title-color-dark: #e0e0e0;
$card-text-color-dark: #9a9a9a;

// CSS 변환
html.light {
  --background-color: #{$background-color-light};
  --text-color: #{$text-color-light};
  --point-color: #{$point-color-light};

  // 폰트 변수
  --font-size-tiny: #{$font-size-tiny};
  --font-size-small: #{$font-size-small};
  --font-size-base: #{$font-size-base};
  --font-size-large: #{$font-size-large};
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-bold: #{$font-weight-bold};

  /* 버튼 색상 변수 */
  --button-background-color: #{$button-background-color-light};
  --button-text-color: #{$button-text-color-light};
  --button-border-radius: #{$button-border-radius};
  --button-padding: #{$button-padding};

  /* 간격 변수 */
  --spacing-small: #{$spacing-small};
  --spacing-medium: #{$spacing-medium};
  --spacing-large: #{$spacing-large};

  // 상수
  --border-radius: #{$border-radius};
  --border-color: rgb(51 51 51 / 10%); // 라이트 모드 보더 색상

  /* 검색바 변수 */
  --search-bar-background-color: #{$search-bar-background-color-light};
  --search-bar-border-color: #{$search-bar-border-color-light};
  --search-bar-text-color: #{$search-bar-text-color-light};
  --search-bar-placeholder-color: #{$search-bar-placeholder-color-light};

  /* 카드 변수 */
  --card-background: #{$card-background-light};
  --card-border: #{$card-border-light};
  --card-shadow: #{$card-shadow-light};
  --card-title-color: #{$card-title-color-light};
  --card-text-color: #{$card-text-color-light};
}

html.dark {
  --background-color: #{$background-color-dark};
  --text-color: #{$text-color-dark};
  --point-color: #{$point-color-dark};

  // 폰트 변수
  --font-size-tiny: #{$font-size-tiny};
  --font-size-small: #{$font-size-small};
  --font-size-base: #{$font-size-base};
  --font-size-large: #{$font-size-large};
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-bold: #{$font-weight-bold};

  /* 버튼 색상 변수 */
  --button-background-color: #{$button-background-color-dark};
  --button-text-color: #{$button-text-color-dark};
  --button-border-radius: #{$button-border-radius};
  --button-padding: #{$button-padding};

  /* 간격 변수 */
  --spacing-small: #{$spacing-small};
  --spacing-medium: #{$spacing-medium};
  --spacing-large: #{$spacing-large};

  // 상수
  --border-radius: #{$border-radius};
  --border-color: rgb(224 224 224 / 10%); // 다크 모드 보더 색상

  /* 검색바 변수 */
  --search-bar-background-color: #{$search-bar-background-color-dark};
  --search-bar-border-color: #{$search-bar-border-color-dark};
  --search-bar-text-color: #{$search-bar-text-color-dark};
  --search-bar-placeholder-color: #{$search-bar-placeholder-color-dark};

  /* 카드 변수 */
  --card-background: #{$card-background-dark};
  --card-border: #{$card-border-dark};
  --card-shadow: #{$card-shadow-dark};
  --card-title-color: #{$card-title-color-dark};
  --card-text-color: #{$card-text-color-dark};
}
