// 폰트 변수
$font-size-tiny: 0.75rem; // 12px
$font-size-small: 0.875rem; // 14px
$font-size-base: 1rem; // 16px
$font-size-large: 1.5rem; // 24px
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-family: 'Noto Sans KR', 'Arial', sans-serif;

// 간격 변수
$spacing-xxs: 0.125rem; // 2px
$spacing-xs: 0.25rem; // 4px
$spacing-small: 0.5rem; // 8px
$spacing-medium: 1rem; // 16px
$spacing-large: 2rem; // 32px

// 상수
$border-radius: $spacing-small; // 8px
$box-shadow: 0 $spacing-xxs $spacing-xs rgb(0 0 0 / 30%); // 2px 4px

// 색상 변수
$background-color-light: #f5f5f5;
$background-color-dark: #1e1e1e;
$text-color-light: #333;
$text-color-dark: #e0e0e0;
$primary-color-light: #007bff;
$primary-color-dark: #61dafb;

// 버튼 색상
$button-background-color-light: $primary-color-light;
$button-text-color-light: #fff;
$button-hover-background-color-light: #0056b3;
$button-secondary-background-color-light: #e0e0e0;
$button-secondary-text-color-light: #333;
$button-secondary-hover-background-color-light: #ccc;
$button-background-color-dark: $primary-color-dark;
$button-text-color-dark: #1e1e1e;
$button-hover-background-color-dark: #4da6d3;
$button-secondary-background-color-dark: #333;
$button-secondary-text-color-dark: #e0e0e0;
$button-secondary-hover-background-color-dark: #4a4a4a;
$button-border-radius: 0.25rem; // 4px
$button-padding: $spacing-medium;

// 검색 바 색상
$searchbar-background-color-light: #e0e0e0;
$searchbar-border-color-light: #6c757d;
$searchbar-text-color-light: $text-color-light;
$searchbar-placeholder-color-light: #6c757d;
$searchbar-background-color-dark: #2c2c2c;
$searchbar-border-color-dark: #333;
$searchbar-text-color-dark: $text-color-dark;
$searchbar-placeholder-color-dark: #e0e0e0;

// 카드 색상
$card-background-color-light: #fff;
$card-border-color-light: #e0e0e0;
$card-shadow-color-light: rgb(0 0 0 / 10%);
$card-background-color-dark: #2c2c2c;
$card-border-color-dark: #333;
$card-shadow-color-dark: rgb(0 0 0 / 50%);
$card-title-color-light: #333;
$card-text-color-light: #6c757d;
$card-title-color-dark: #e0e0e0;
$card-text-color-dark: #9a9a9a;

// CSS 변환
html.light {
  --background-color: #{$background-color-light};
  --text-color: #{$text-color-light};
  --primary-color: #{$primary-color-light};

  // 폰트 변수
  --font-size-tiny: #{$font-size-tiny};
  --font-size-small: #{$font-size-small};
  --font-size-base: #{$font-size-base};
  --font-size-large: #{$font-size-large};
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-bold: #{$font-weight-bold};

  /* 버튼 색상 변수 */
  --button-background-color: #{$button-background-color-light};
  --button-text-color: #{$button-text-color-light};
  --button-border-radius: #{$button-border-radius};
  --button-padding: #{$button-padding};

  /* 간격 변수 */
  --spacing-xxs: #{$spacing-xxs};
  --spacing-xs: #{$spacing-xs};
  --spacing-small: #{$spacing-small};
  --spacing-medium: #{$spacing-medium};
  --spacing-large: #{$spacing-large};

  // 상수
  --border-radius: #{$border-radius};
  --border-color: rgb(51 51 51 / 10%);
  --box-shadow: #{$box-shadow};

  /* 검색 바 변수 */
  --searchbar-background-color: #{$searchbar-background-color-light};
  --searchbar-border-color: #{$searchbar-border-color-light};
  --searchbar-text-color: #{$searchbar-text-color-light};
  --searchbar-placeholder-color: #{$searchbar-placeholder-color-light};

  /* 카드 변수 */
  --card-background-color: #{$card-background-color-light};
  --card-border-color: #{$card-border-color-light};
  --card-box-shadow: 0 $spacing-xxs $spacing-xs #{$card-shadow-color-light};
  --card-title-color: #{$card-title-color-light};
  --card-text-color: #{$card-text-color-light};
}

html.dark {
  --background-color: #{$background-color-dark};
  --text-color: #{$text-color-dark};
  --primary-color: #{$primary-color-dark};

  // 폰트 변수
  --font-size-tiny: #{$font-size-tiny};
  --font-size-small: #{$font-size-small};
  --font-size-base: #{$font-size-base};
  --font-size-large: #{$font-size-large};
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-bold: #{$font-weight-bold};

  /* 버튼 색상 변수 */
  --button-background-color: #{$button-background-color-dark};
  --button-text-color: #{$button-text-color-dark};
  --button-border-radius: #{$button-border-radius};
  --button-padding: #{$button-padding};

  /* 간격 변수 */
  --spacing-xxs: #{$spacing-xxs};
  --spacing-xs: #{$spacing-xs};
  --spacing-small: #{$spacing-small};
  --spacing-medium: #{$spacing-medium};
  --spacing-large: #{$spacing-large};

  // 상수
  --border-radius: #{$border-radius};
  --border-color: rgb(224 224 224 / 10%);
  --box-shadow: #{$box-shadow};

  /* 검색 바 변수 */
  --searchbar-background-color: #{$searchbar-background-color-dark};
  --searchbar-border-color: #{$searchbar-border-color-dark};
  --searchbar-text-color: #{$searchbar-text-color-dark};
  --searchbar-placeholder-color: #{$searchbar-placeholder-color-dark};

  /* 카드 변수 */
  --card-background-color: #{$card-background-color-dark};
  --card-border-color: #{$card-border-color-dark};
  --card-box-shadow: 0 $spacing-xxs $spacing-xs #{$card-shadow-color-dark};
  --card-title-color: #{$card-title-color-dark};
  --card-text-color: #{$card-text-color-dark};
}
