.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; // 또는 70px
  line-height: 60px; // 텍스트 수직 정렬을 위한 설정
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;

  .logo {
    width: 100px;
    display: flex;
    align-items: center;
  }
  .search {
  }
  .theme {
    width: 30px;
  }
}
