.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 0 16px;
  color: var(--text-color);
  background-color: var(--background-color);

  .header-top {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 5px;

      .logo-text {
        font-weight: var(--font-weight-bold);
      }
    }

    .theme-toggle-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .header-bottom {
    height: 45px;
  }
}
