.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 90px;
  padding: var(--spacing-small) var(--spacing-medium);
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  gap: var(--spacing-small);
  border-bottom: 1px solid var(--border-color);

  .header-top {
    position: relative;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .gnb-wrapper {
      position: absolute;
      left: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .gnb-button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .logo-wrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-xxs);

      .logo-text {
        font-weight: var(--font-weight-bold);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .header-bottom {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    align-items: center;
    gap: var(--spacing-small);

    .back-btn {
      width: 24px;
      height: 24px;
    }
  }
}
