.search-bar-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);

  .back-btn {
    width: 25px;
    height: 25px;
  }

  .search-bar {
    height: 100%;
    padding: 0 2.5rem 0 0.5rem;
    font-size: var(--font-size-tiny);
    font-weight: var(--font-weight-bold);
    color: var(--searchbar-text-color);
    background-color: var(--searchbar-background-color);
    flex: 1;
    border-radius: var(--border-radius);

    &::placeholder {
      font-weight: var(--font-weight-normal);
      color: var(--searchbar-placeholder-color);
    }
  }

  .search-btn {
    position: absolute;
    right: var(--spacing-small); /* 입력창 오른쪽에 위치 */
  }
}
