// src/components/Common/Header/SideMenu.module.scss
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%); /* 반투명 배경 */
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px; /* 사이드 메뉴의 너비 */
  height: 100%;
  padding: var(--spacing-medium);

  &.open {
    transform: translateX(0); /* 사이드 메뉴를 화면에 보이도록 */
  }

  background-color: var(--background-color); /* 사이드 메뉴의 배경색 */
  transition: transform 0.2s ease-out;
  transform: translateX(-100%); /* 사이드 메뉴가 화면 밖에 위치하도록 */

  .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
  }

  .profile {
    display: flex;
    gap: 10px;

    .image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .image {
        object-fit: cover;
        border: 1px solid red;
      }
    }

    .content-wrapper {
      font-size: var(--font-size-small);
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name {
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-bold);
      }
    }
  }

  .theme-toggle-wrapper {
    padding: var(--spacing-medium) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: var(--font-weight-bold);
    }
  }
}
