.search-results-overlay {
  position: fixed;
  top: 85px;
  left: 0;
  width: 100%;
  height: calc(100% - 85px);
  padding: var(--spacing-small) var(--spacing-medium); // 전체 컨테이너 여백
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  overflow-y: auto;

  &.open {
    display: block; /* 오버레이가 열릴 때 보이도록 설정 */
  }

  .error-message {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-result {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
