.toggle-switch {
  display: flex;
  align-items: center;
}

.switch-label {
  position: relative;
  width: 50px; // 너비 줄이기
  height: 28px; // 높이 줄이기
  display: flex;
  align-items: center;
  cursor: pointer;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 28px; // 테두리 반경 조정
  cursor: pointer;
}

.slider::before {
  position: absolute;
  bottom: 4px; // 아래쪽 간격 줄이기
  left: 4px; // 왼쪽 간격 줄이기
  width: 20px; // 크기 줄이기
  height: 20px; // 크기 줄이기
  background-color: #fff;
  transition: 0.2s;
  border-radius: 50%;
  content: '';
}

.switch-input[type='checkbox'] {
  display: none;
}

.switch-input:checked + .switch-label .slider {
  background-color: var(--primary-color);
}

.switch-input:checked + .switch-label .slider::before {
  transform: translateX(22px); // 이동 거리 줄이기
}
