.button {
  width: 16px;
  height: 16px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: center;
  align-items: center;

  // color: var(--text-color);
  // background-color: var(--background-color);
}
