.sheet {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--background-color);
  transition: height 0.2s ease-out;
  box-shadow: 0 -4px 20px rgb(0 0 0 / 20%);
  border-top-left-radius: var(--border-radius-xl);
  border-top-right-radius: var(--border-radius-xl);

  .sheet-header {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grabbing; // 커서 스타일

    .handle {
      width: 40px;
      height: 4px;
      background-color: #ccc;
      border-radius: var(--border-radius-xxs);
    }
  }

  .sheet-content {
    height: calc(100% - 30px);
    padding: var(--spacing-medium);
  }
}
