.bottom-sheet {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  background-color: #ffff;
  box-shadow: 0 -5px 10px rgb(0 0 0 / 30%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  .sheet-header {
    height: 32px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .grip-bar {
      width: 40px;
      height: 4px;
      background-color: #ccc;
      margin-bottom: 8px;
      border-radius: 2px;
    }
  }

  .sheet-content {
    height: calc(100% - 32px);
  }
}
