// src/components/BottomSheet.module.scss
.sheet {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  overflow: hidden;
  background-color: var(--background-color);
  transition: height 0.3s ease-out; /* 기본 애니메이션 */
  box-shadow: 0 -2px 10px rgb(0 0 0 / 20%);
  cursor: grab;
}

.handle {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 40px;
  height: 4px;
  background-color: #ccc;
  transform: translateX(-50%);
  border-radius: 2px;
}
