.find-my-location-control {
  position: absolute;
  right: 10px;
  bottom: 80px;
  width: 32px;
  height: 32px;
  background-color: rgb(255 255 255 / 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;

  &:disabled {
    background-color: rgb(255 255 255 / 50%);
    cursor: not-allowed;
    box-shadow: none;
  }

  &:hover {
    background-color: rgb(255 255 255 / 100%);
    box-shadow: 0 6px 8px rgb(0 0 0 / 20%);
  }
}
