.find-my-location-control {
  position: absolute;
  right: 10px;
  bottom: 90px;
  width: 30px;
  height: 30px;
  color: #333;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    0 1px 2px rgb(60 64 67 / 30%),
    0 1px 3px 1px rgb(60 64 67 / 15%);
  border-radius: var(--spacing-small);

  &:disabled {
    cursor: not-allowed;
  }
}
