.info-window-container {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .info-window-list {
    height: 100%;

    .info-window-list-item {
      padding: var(--spacing-small);
      font-weight: var(--font-weight-bold);
      color: var(--text-color);
      transition: background-color 0.2s; /* 배경색 변경 애니메이션 */
      cursor: pointer; /* 포인터 커서 */
      &:hover,
      &:active {
        color: var(--card-hover-text-color); /* 호버 시 배경색 변경 */
        background-color: var(--card-hover-background-color); /* 호버 시 배경색 변경 */
        border-radius: var(--spacing-small);
      }

      &:last-child {
        border-bottom: none; /* 마지막 항목의 하단 구분선 제거 */
      }
    }
  }
}
