.info-window-container {
  font-size: var(--font-size-small); /* 폰트 크기 */
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%); /* 그림자 */
  max-width: 300px; /* Info-window-의 최대 너비 설정 */
  scrollbar-color: #bbb #f5f5f5; /* Firefox: Thumb 색상과 Track 색상 */
  scrollbar-width: thin; /* Firefox: 스크롤바 너비 */

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #bbb; /* 연한 회색 */
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* 중간 회색 */
  }

  ::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* 연한 회색 */
  }

  .info-window-list {
    margin: 0;
    padding: 0;
    max-height: 200px; /* 리스트 최대 높이 */
    overflow-y: auto; /* 세로 스크롤 가능 */
    padding-right: 10px;
    padding-bottom: 10px;

    .info-window-list-item {
      padding: 8px 12px; /* 항목 여백 */
      font-weight: var(--font-weight-bold);
      color: #333;
      transition: background-color 0.2s; /* 배경색 변경 애니메이션 */
      border-bottom: 1px solid #ddd; /* 항목 구분선 */
      cursor: pointer; /* 포인터 커서 */

      &:hover,
      &:active {
        background-color: #f1f1f1; /* 호버 시 배경색 변경 */
      }

      &:last-child {
        border-bottom: none; /* 마지막 항목의 하단 구분선 제거 */
      }
    }
  }
}
