.map-zoom-controls {
  position: absolute;
  right: 10px;
  bottom: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
  border-radius: 8px;

  .zoom-in-button,
  .zoom-out-button {
    width: 30px;
    height: 30px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--spacing-small);
  }

  .zoom-in-button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #dadce0;
  }

  .zoom-out-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
