.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; // 또는 60px
  line-height: 50px; // 텍스트 수직 정렬을 위한 설정
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* 원하는 색상으로 설정 */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
