.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; // 또는 60px
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-bold);
  line-height: 50px; // 텍스트 수직 정렬을 위한 설정
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
